.footer {
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 1rem;
  bottom: 0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.footer-text {
  font-family: 'Montserrat', serif;
  text-align: center;
}
